<div id="footer">
          <h4 class="text-white text-center">Sígueme en mis redes!</h4>
          <div class="d-flex justify-content-around elements-footer">
            <div><a href="https://www.facebook.com/dianara.vargas.37" target="_blank"><i class="fab fa-facebook-square"></i></a></div>
            <div><a href="https://wa.me/59177016186?text=Hola%20Dianara,%20visite%20tu%20pagina%20web,%20me%20encantó%20tu%20fiesta." target="_blank"><i class="fab fa-whatsapp"></i></a></div>
            <div><a href="https://www.instagram.com/dianara_vargas/" target="_blank"><i class="fab fa-instagram"></i></a></div>
          </div>
          <div class="textfooter pb-3">
            <span>Designed and developed by Oscar Rodas, March 2020</span>
          </div>
</div>
